<div *ngIf="exibirConteudo">
<div>
  <h1 class="lessonTitle">
    Titulo da Aula : {{aulaSelecionada.titulo}}
  </h1>
  <hr>
</div>
<div class="container">
  <!-- Video related -->
  <div class="col f2">
    <div class="videoCard">
      <iframe
        class="iframe"
        [src]="urlSafe"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>      
    </div>
  </div>
  <!-- Course content -->
  <div class="col f1">
    <div class="courseContent">
      <div class="card light">
        <h1>Conteúdo do Curso</h1>
      </div>
      <div class="card" *ngFor="let aula of aulas">
          <h1>
            Aula {{aula.numero}} : {{aula.titulo}} 
          </h1>
          <button class="btn-aula" (click)="Aula(aula.numero)">Assistir</button>
        <!-- <input type="checkbox" /> -->
      </div>
    </div>
  </div>
</div>

<div class="questionario">
<div class="descricao">
  <p class="lessonDescription">   
    Descrição da Aula :
  </p>
  <textarea type="text" class="descricaoAula" disabled>{{aulaSelecionada.descricao}}</textarea>
</div>
  <div>
  <form>
    <h1>Questões sobre a aula</h1>
    <label>1º O que a aula te ensinou ?</label>
    <input placeholder="Digite sua resposta" type="text" style="width: 100%;">
    <label>2º O que a aula te ensinou ?</label>
    <input placeholder="Digite sua resposta" type="text" style="width: 100%;">
    <label>3º O que a aula te ensinou ?</label>
    <input placeholder="Digite sua resposta" type="text" style="width: 100%;">
    <label>4º O que a aula te ensinou ?</label>
    <input placeholder="Digite sua resposta" type="text" style="width: 100%;">
    <input type="submit" value="Enviar Respostas">
  </form>
</div>
</div>
</div>