@use "../../palettes" as p;

.container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

.col {
  &.f1 {
    flex: 1;
  }
  &.f2 {
    flex: 2;
  }
}

/* Video related */

.videoCard {
  width: 100%;
  height: auto;
  padding-bottom: 0;
  @media screen and (min-width: 900px) {
    padding: 2rem;
  }
}

.iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.lessonTitle {
  font-size: large;
  color: p.$brand-primary;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @media screen and (min-width: 900px) {
    padding: 0;
  }
}

.lessonDescription {
  font-size: medium;
  color: p.$brand-primary-light;
  padding-left: 1rem;
  padding-right: 1rem;
  @media screen and (min-width: 900px) {
    padding: 0;
  }
}

/* Course Content */
.courseContent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: p.$brand-smoke;
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    font-size: large;
  }
  input[type="checkbox"] {
    aspect-ratio: 1/1;
    height: 70%;
    margin: 0;
  }

  &.light {
    background-color: white;
  }
}


.btn-aula {
  margin-left: 10px;
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}