<div *ngIf="exibirConteudo">
<div>
  <h1 class="lessonTitle">
    Titulo da Aula : {{aulaSelecionada.titulo}}
  </h1>
  <hr>
</div>
<div class="container">
  <!-- Video related -->
  <div class="col f2">
    <div class="videoCard">
      <iframe
        class="iframe"
        [src]="urlSafe"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <p class="lessonDescription">
        Descrição da Aula : {{aulaSelecionada.descricao}}
      </p>
    </div>
  </div>
  <!-- Course content -->
  <div class="col f1">
    <div class="courseContent">
      <div class="card light">
        <h1>Conteúdo do Curso</h1>
      </div>
      <div class="card" *ngFor="let aula of aulas">
          <h1>
            Aula {{aula.numero}} : {{aula.titulo}} 
          </h1>
          <button class="btn-aula" (click)="Aula(aula.numero)">Assistir</button>
        <!-- <input type="checkbox" /> -->
      </div>
    </div>
  </div>
</div>
</div>