<div class="auth">
  <div class="outercard">
    <div class="promo">
      <img src="../../assets/images/icons/logo-ieq-nome.png" />
    </div>

    <!-- Sign Up form -->
    <form
      (submit)="signUpSubmit()"
      [formGroup]="signUpForm"
      #signUpFormDir="ngForm"
    >
      <h1 class="formtitle">Cadastro</h1>
      <input
        formControlName="email"
        type="text"
        placeholder="Email"
        class="text-input {{
          signUpEmail.invalid && signUpFormDir.submitted ? 'error' : null
        }}"
      />
      <!-- Email validation error treatment-->
      <span *ngIf="signUpEmail.invalid && signUpFormDir.submitted">
        <p *ngIf="signUpEmail.errors?.['required']" class="validation-error">
          O email é obrigatório
        </p>
      </span>

      <input
        formControlName="password"
        type="password"
        placeholder="Senha"
        class="text-input {{
          signUpPassword.invalid && signUpFormDir.submitted ? 'error' : null
        }}"
      />
      <!-- Password validation error treatment-->
      <span *ngIf="signUpPassword.invalid && signUpFormDir.submitted">
        <p *ngIf="signUpPassword.errors?.['required']" class="validation-error">
          A senha é obrigatória
        </p>
      </span>

      <input
        formControlName="passwordConfirmation"
        type="text"
        placeholder="Confirmação de senha"
        class="text-input {{
          passwordConfirmation.invalid && signUpFormDir.submitted
            ? 'error'
            : null
        }}"
      />
      <!-- Password confirmaton validation error treatment-->
      <span *ngIf="passwordConfirmation.invalid && signUpFormDir.submitted">
        <p
          *ngIf="passwordConfirmation.errors?.['required']"
          class="validation-error"
        >
          A senha é obrigatória
        </p>
      </span>

      <input type="submit" class="submit-button" />

      <p class="call">
        Já possui uma conta?
        <b routerLink="/login">Faça login</b>
      </p>
    </form>
  </div>
</div>
