@use "../../palettes" as p;

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stripe {
  background-color: p.$brand-primary-dark;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    font-size: large;
    color: white;
    margin-left: 1rem;
  }
}

.call-to-action {
  background-color: p.$brand-smoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: p.$brand-dark;
    margin-bottom: 0;
    font-size: x-large;
    text-align: center;
  }
  p {
    color: p.$brand-dark;
  }
  @media screen and (min-width: 900px) {
    h1 {
      font-size: 2rem;
    }
  }
}