<div class="">
    <h1 style="text-align: center;" >Bem vindo ao Portal IEQ Vila Mara</h1>
    <h3 style="text-align: center;margin-top: -20px; ">Escolha seu curso</h3>
</div>  
<div class="container">    
                <div class="card">
                        <img class="imageclass" src="../../assets/images/curso/logo.png">
                        <div class="titulo">
                            <p>
                                <a routerLink="/lesson" >Curso Online EBD</a>
                            </p>
                        </div>                
                </div>                
</div>