/* Theme colors */

$brand-primary: #2563eb;
$brand-primary-dark: #1e3a8a;
$brand-primary-light: #3b82f6;
$brand-primary-smoke: #bfdbfe;
$brand-error: #dc2626;

$brand: #94a3b8;
$brand-dark: #64748b;
$brand-light: #e2e8f0;
$brand-smoke: #f1f5f9;
$brand-danger: #ef4444;
$brand-alert: #eab308;
$brand-success: #22c55e;
