@use "../../palettes" as p;

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  height: 20rem;
  width: 20rem;
  border: 1px solid p.$brand-primary-smoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: p.$brand-primary;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
