<div *ngIf="exibirConteudo">
<div class="container">
  <div class="col f2">
    <div class="videoCard">
      <iframe
        class="iframe"
        [src]="urlSafe"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>      
    </div>
  </div>
  <div class="col f1">
    <div class="courseContent">
      <div class="card light">
        <h1>Conteúdo do Curso</h1>
      </div>
      <div class="card" *ngFor="let aula of aulas">
          <h1>
            Aula {{aula.numero}} : {{aula.titulo}} 
          </h1>
          <button class="btn-aula" (click)="Aula(aula.numero)">Assistir</button>
      </div>
      <div class="card">
          <h1>Questionario</h1>
          <a type="button" class="btn-aula" routerLink="/questionario/{{cursoId}}">Responder</a>
      </div>
    </div>
  </div>
</div>
